* {box-sizing: border-box;}
body {
  margin: 0 auto;
}
.banner {
  color: white;
  height: 10em;
}
.beach {
  width: 100%;
}
.fixed {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
}
.menu ul {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  padding: 10px 0;
  background-color: black;
}
#nav li {
  display: inline;
  padding: 110px;
  font-family: 'Raleway', sans-serif;
}
#nav li a {
    text-decoration: none;
    color: white;
    padding: 10px;
}
#nav li a:hover {
    background-color: grey;
}
h1 {
  font-family: 'Lobster';
  text-align: center;
  font-size: 72px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}
p {
  font-family: 'Raleway';
  font-size: 20px;
  color: white;
  background: black;
  padding: 30px;
}
footer {
  color: lightgray;
  padding: 5px;
  text-align: center;
}
