* { box-sizing: border-box; }
body {
  font-family: Arial;
  margin: 0;
  background-image: url("http://i.imgur.com/vikuOjk.jpg?1");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  overflow: scroll;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 124px;
  color: gold;
  text-align: center;
  margin: 0 auto;
}
h1 span {
  font-family: 'Montserrat', sans-serif;
  font-size: 124px;
  text-align: center;
  color: white;
  margin: 0 auto;
}
.wrapper {
  height: 100%;
  /*padding: 200px;*/
  overflow: auto;
  position: fixed;
  width: 100%;
}
form {
  display: block;
  position: fixed;
  width: 48%;
  z-index: -1px;
}
main {
  margin: 2em auto;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  max-width: 600px;
}
input, button {
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-width: 2px;
  border-radius: 5px; font-size: inherit;
  padding: .5em 1em;
  font-family: 'PT Sans', sans-serif;
}
input {
  width: 70%;
}
button {
  color: black;
  width: 28%;
  background-color: gold;
  font-family: 'PT Sans', sans-serif;
}
button:hover {
  color: white;
  background-color: #e3c000
}
/*.list {
  padding: 10px;
  position: absolute;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 65px;
  padding-left: 10px;
  padding-right: 10px;
}*/
a {
  font-size: 24px;
  color: gold;
  text-decoration: none;
  padding-left: 40px;
  display: inline-block;
  position: relative;
  z-index: 10;
}
a:hover {
  color: white;
  text-decoration: underline;
}
div {
  display: inline;
}
#beers {
  list-style: none;
  padding-left: 0px;
}
.beer {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  border: 1px solid white;
  position: relative;
  padding-top: 10px;
  padding-bottom: 65px;
  padding-left: 10px;
  padding-right: 10px;
}
img.icon {
  padding-top: 5px;
  display: inline-block;
}
.beer-name {
  display: inline;
  position: absolute;
}
.beer-description {
  color: white;
  padding-left: 40px;
  display: inline-block;
  position: absolute;
  padding-top: 30px;
}
.icons {
  display: inline-block;
  position: absolute;
  float: left;
  padding-top: 5px
}
