* { box-sizing: border-box; }
body {
  font-family: Arial;
  margin: 0;
  background-image: url("http://i.imgur.com/vikuOjk.jpg?1");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  overflow: scroll;
}
.wrapper {
  height: 100%;
  padding: 200px;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
main {
  margin: 2em auto;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  max-width: 600px;
}
input, button {
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-width: 2px;
  border-radius: 5px; font-size: inherit;
  padding: .5em 1em;
  font-family: 'PT Sans', sans-serif;
}
input {
  width: 70%;
}
button {
  color: black;
  width: 28%;
  background-color: gold;
  font-family: 'PT Sans', sans-serif;
}
button:hover {
  color: white;
  background-color: #e3c000
}
a {
  font-size: 24px;
  color: gold;
  text-decoration: none;
  padding-left: 145px;
}
a:hover {
  color: white;
  text-decoration: underline;
}
#beers {
  list-style: none;
  margin-top: 0;
  padding: 0;
}
.beer {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  border: 1px solid white;
  position: relative;
  padding-top: 10px;
  padding-bottom: 65px;
  padding-left: 10px;
  padding-right: 10px;
}
.beer-description {
  color: white;
  padding-left: 145px;
}
.icons {
  position: absolute;
  float: left;
}
